

.custom-control-input:checked ~ .custom-control-label::before {
  
  background-color: rgb(81, 206, 77);
}

label, p {
  font-size: 20px;
}

#password {
  font-size: 2em;
  color: #D2691E;
}

.custom-range {
  width: 30%;
  height: auto;
}

main {
box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
}